<!doctype html>
<html>
    <head>
        <!-- Google hosted jQuery: -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="jsPsych/jspsych.js"></script>
        <script src="jsPsych/plugins/jspsych-single-stim.js"></script>
        <script src="jsPsych/plugins/jspsych-text.js"></script>
        <!-- jsPsych stylesheet-->
        <link href="jsPsych/css/jspsych.css" type="text/css" rel="stylesheet"></link>
        <!-- Stylesheet for the tutorial, including how to vertically and horizontally
        center the stimulus using parent and child class -->
        <link href="/css/flanker.css" type="text/css" rel="stylesheet"></link>

    </head>
    <body>
        <div class = "parent">
            <div class = "child">
                <div id="jspsych_target"></div>
            </div>
        </div>

        <script>
        // defining an empty array to contain the experiment description
        var experiment = [];

        var instruction_block = {
            type: "text",
            text: " In the following section, you will see several images that look similar to this one:</p>"+
            "<p class='centered'><img src='img/incongruent_right.png'></p>"+
            "<p> Your task is to press the arrow key that corresponds to the direction of the middle arrow, "+
            "ignoring the arrows on the sides. For example, in this case you would press the right arrow key.</p>"+
            "<p><strong>Press any key to start!</strong></p>",
            timing_post_trial: 2000
        }

        experiment.push(instruction_block);

        var stimuli = [
            'img/congruent_left.png',
            'img/incongruent_left.png',
            'img/congruent_right.png',
            'img/incongruent_right.png'
        ]

        // randomize the stimuli so that each is displayed ten times
        var mixed_stimuli = jsPsych.randomization.repeat(stimuli, 2);

        // create a block using the 'single-stim' plugin
        var block = {
            type: 'single-stim',
            stimuli: mixed_stimuli,
            choices: [37,39]
        };

        experiment.push(block);

        // initializes jsPsych with the experiment, setting the display_element to
        // the element with the id jspsych_target -> this appends the stimuli to this
        // element and allows us to center the stimulus using the stylesheets
        jsPsych.init({
            display_element: $('#jspsych_target'),
            experiment_structure: experiment,
            on_finish: function() {
                jsPsych.data.displayData();
            }
        })
        </script>

    </body>
</html>